@import url(http://fonts.googleapis.com/css?family=Righteous|Playfair+Display:400,700,900,400italic,700italic,900italic|Merriweather+Sans:400,300,300italic,400italic,700,700italic,800,800italic|Merriweather:400,300,300italic,400italic,700,700italic,900,900italic&subset=latin,latin-ext);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 100;
  color: #141414;
  font-variant-settings: "dlig", "dnum", "kern", "liga", "pnum";
  background: #c8c8c8; }
  body #main {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    body #main:after {
      content: "";
      display: table;
      clear: both; }
    body #main #topstrip {
      text-align: justify;
      text-justify: distribute-all-lines; }
      body #main #topstrip form, body #main #topstrip div {
        display: inline-block; }
        body #main #topstrip form select, body #main #topstrip div select {
          border: 1px solid #090909;
          border-radius: 3px;
          box-shadow: inset 0 1px 0 0 #535353;
          color: white;
          display: inline-block;
          font-size: inherit;
          font-weight: bold;
          background-color: #2d2d2d;
          background-image: -webkit-linear-gradient(#2d2d2d, #111111);
          background-image: linear-gradient(#2d2d2d, #111111);
          padding: 7px 18px;
          text-decoration: none;
          text-shadow: 0 1px 0 black;
          background-clip: padding-box;
          border: 1px solid #0a0808;
          border-radius: 3px;
          box-shadow: inset 0 1px 0 0 #535353;
          color: white;
          display: inline-block;
          font-size: inherit;
          font-weight: bold;
          background-color: #2d2d2d;
          background-image: -webkit-linear-gradient(#2d2d2d, #120f0f);
          background-image: linear-gradient(#2d2d2d, #120f0f);
          padding: 7px 18px;
          text-decoration: none;
          text-shadow: 0 1px 0 black;
          background-clip: padding-box;
          font-size: 75%; }
          body #main #topstrip form select:hover:not(:disabled), body #main #topstrip div select:hover:not(:disabled) {
            box-shadow: inset 0 1px 0 0 #3a3a3a;
            cursor: pointer;
            background-color: #202020;
            background-image: -webkit-linear-gradient(#202020, #090909);
            background-image: linear-gradient(#202020, #090909); }
          body #main #topstrip form select:active:not(:disabled), body #main #topstrip form select:focus:not(:disabled), body #main #topstrip div select:active:not(:disabled), body #main #topstrip div select:focus:not(:disabled) {
            border: 1px solid #090909;
            box-shadow: inset 0 0 8px 4px #020202, inset 0 0 8px 4px #020202; }
          body #main #topstrip form select:hover:not(:disabled), body #main #topstrip div select:hover:not(:disabled) {
            box-shadow: inset 0 1px 0 0 #3a3a3a;
            cursor: pointer;
            background-color: #202020;
            background-image: -webkit-linear-gradient(#202020, #0a0909);
            background-image: linear-gradient(#202020, #0a0909); }
          body #main #topstrip form select:active:not(:disabled), body #main #topstrip form select:focus:not(:disabled), body #main #topstrip div select:active:not(:disabled), body #main #topstrip div select:focus:not(:disabled) {
            border: 1px solid #0a0808;
            box-shadow: inset 0 0 8px 4px #020202, inset 0 0 8px 4px #020202; }
          body #main #topstrip form select:disabled, body #main #topstrip div select:disabled {
            opacity: 0.5;
            cursor: not-allowed; }
        body #main #topstrip form input, body #main #topstrip div input {
          border: 1px solid black;
          border-color: black black black;
          border-radius: 16px;
          box-shadow: inset 0 1px 0 0 #252525;
          color: white;
          display: inline-block;
          font-size: inherit;
          font-weight: normal;
          line-height: 1;
          background-color: #141414;
          background-image: -webkit-linear-gradient(#141414, black);
          background-image: linear-gradient(#141414, black);
          padding: 7px 18px;
          text-align: center;
          text-decoration: none;
          text-shadow: 0 -1px 1px black;
          background-clip: padding-box;
          border: 1px solid black;
          border-color: black black black;
          border-radius: 16px;
          box-shadow: inset 0 1px 0 0 #252525;
          color: white;
          display: inline-block;
          font-size: inherit;
          font-weight: normal;
          line-height: 1;
          background-color: #141414;
          background-image: -webkit-linear-gradient(#141414, black);
          background-image: linear-gradient(#141414, black);
          padding: 7px 18px;
          text-align: center;
          text-decoration: none;
          text-shadow: 0 -1px 1px black;
          background-clip: padding-box; }
          body #main #topstrip form input:hover:not(:disabled), body #main #topstrip div input:hover:not(:disabled) {
            border: 1px solid black;
            border-color: black black black;
            box-shadow: inset 0 1px 0 0 #1b1b1b;
            cursor: pointer;
            background-color: #080808;
            background-image: -webkit-linear-gradient(#080808, black);
            background-image: linear-gradient(#080808, black);
            text-shadow: 0 -1px 1px black;
            background-clip: padding-box; }
          body #main #topstrip form input:active:not(:disabled), body #main #topstrip form input:focus:not(:disabled), body #main #topstrip div input:active:not(:disabled), body #main #topstrip div input:focus:not(:disabled) {
            background: black;
            border: 1px solid black;
            border-bottom: 1px solid black;
            box-shadow: inset 0 0 6px 3px black;
            text-shadow: 0 -1px 1px black; }
          body #main #topstrip form input:hover:not(:disabled), body #main #topstrip div input:hover:not(:disabled) {
            border: 1px solid black;
            border-color: black black black;
            box-shadow: inset 0 1px 0 0 #1b1b1b;
            cursor: pointer;
            background-color: #080808;
            background-image: -webkit-linear-gradient(#080808, black);
            background-image: linear-gradient(#080808, black);
            text-shadow: 0 -1px 1px black;
            background-clip: padding-box; }
          body #main #topstrip form input:active:not(:disabled), body #main #topstrip form input:focus:not(:disabled), body #main #topstrip div input:active:not(:disabled), body #main #topstrip div input:focus:not(:disabled) {
            background: black;
            border: 1px solid black;
            border-bottom: 1px solid black;
            box-shadow: inset 0 0 6px 3px black;
            text-shadow: 0 -1px 1px black; }
          body #main #topstrip form input:disabled, body #main #topstrip div input:disabled {
            opacity: 0.5;
            cursor: not-allowed; }
      body #main #topstrip:after {
        width: 100%;
        content: " ";
        display: inline-block; }
      body #main #topstrip .logo {
        color: white;
        font-family: "Righteous", "Playfair Display", "Merriweather", serif;
        font-size: 15pt;
        text-shadow: 1px 1px 2px #606060; }
        body #main #topstrip .logo a, body #main #topstrip .logo a:hover {
          color: inherit;
          text-decoration: inherit;
          font: inherit; }
    body #main #navstrip {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      margin-left: 17.05961%;
      background: -webkit-radial-gradient(circle, white, #fbfbfb, #c8c8c8);
      background: radial-gradient(circle, white, #fbfbfb, #c8c8c8);
      border: solid 2px #fbfbfb;
      font-family: "Playfair Display", "Merriweather", serif;
      padding: 1em; }
      body #main #navstrip:last-child {
        margin-right: 0; }
      body #main #navstrip .bnames {
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 48.21067%;
        text-align: right;
        text-justify: distribute-all-lines;
        font-style: italic;
        font-size: 120%;
        text-shadow: -1px -1px 3px #606060; }
        body #main #navstrip .bnames:last-child {
          margin-right: 0; }
        body #main #navstrip .bnames .bn1 {
          font-size: 150%;
          line-height: 0.8em; }
      body #main #navstrip .chaps {
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 48.21067%;
        background: -webkit-radial-gradient(circle, white, #fbfbfb);
        background: radial-gradient(circle, white, #fbfbfb); }
        body #main #navstrip .chaps:last-child {
          margin-right: 0; }
        body #main #navstrip .chaps .cn {
          float: left;
          display: block;
          margin-right: 7.42297%;
          width: 19.43277%;
          font-size: 400%;
          font-style: italic; }
          body #main #navstrip .chaps .cn:last-child {
            margin-right: 0; }
        body #main #navstrip .chaps .cnetc {
          float: left;
          display: block;
          margin-right: 7.42297%;
          width: 73.14426%;
          font-size: 120%; }
          body #main #navstrip .chaps .cnetc:last-child {
            margin-right: 0; }
          body #main #navstrip .chaps .cnetc ul {
            list-style: none;
            display: inline-block;
            margin: 0px;
            padding: 0px; }
            body #main #navstrip .chaps .cnetc ul li {
              list-style: none;
              display: inline-block;
              margin: 2px;
              padding: 0px; }
              body #main #navstrip .chaps .cnetc ul li a, body #main #navstrip .chaps .cnetc ul li a:hover {
                color: inherit;
                text-decoration: none; }
    body #main #lection {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      background: white;
      margin: 2px;
      padding: 0.75em;
      margin-top: 1.5em;
      padding-top: 3em;
      padding-bottom: 3em;
      border: solid 1px #606060;
      border-radius: 2px 2px 2px 2px; }
      body #main #lection:last-child {
        margin-right: 0; }
      body #main #lection .verse {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        body #main #lection .verse:last-child {
          margin-right: 0; }
        body #main #lection .verse .vn {
          font-style: italic;
          float: left;
          position: absolute;
          font-size: 8pt; }
        body #main #lection .verse .verse1 {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 57.35098%;
          margin-left: 8.5298%;
          font-size: 14pt;
          font-family: "Merriweather", serif; }
          body #main #lection .verse .verse1:last-child {
            margin-right: 0; }
        body #main #lection .verse .verse2 {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 23.23176%;
          font-size: 10.5pt; }
          body #main #lection .verse .verse2:last-child {
            margin-right: 0; }
        body #main #lection .verse .verse1, body #main #lection .verse .verse2 {
          text-align: justify; }
