@import url(http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911|Alegreya+Sans:100,400);

$f1:            /*"Alegreya",*/ "Goudy Bookletter 1911", serif;
$f2:            "Alegreya Sans", "Varela Round";
$f3:            "Varela Round";
$grlargepc:     61.8%;
$grsmallpc:     100.0% - $grlargepc;
$colour_dark:   rgb(0, 0, 0);
$colour_light:  rgb(230, 232, 231);
$colour_grey:   lighten($colour_dark, 75%);
$rhemared:      rgb(203, 23, 20);
$parchment:     lighten($colour_light, 10%);
$mainbg:  radial-gradient(circle, $parchment, $colour_light, $colour_light, $colour_grey) fixed center no-repeat;

body
{
  font-family: $f1;
  font-family: 15pt;
  background: $mainbg;

  #main
  {
    a
    {
      text-decoration: inherit;
      color: inherit;

      &:hover, &:visited
      {
        color: inherit;
      }
    }

    #header
    {
      margin-bottom: 1em;

      #nom
      {
        float: left;
        color: $parchment;
        background: $colour_grey;
        border: solid 1px $rhemared;
        font-weight: 300;
        box-shadow: 3px 3px 10px 3px $parchment;
        font-size: 120%;
        margin: 0.125em;
        margin-left: 1em;
        padding: 0.5em;
        font-family: $f2;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        border-radius: 0.25em 0.25em 0.25em 0.25em;

        &:before
        {
          content: "✝";
          color: $rhemared;
          padding: 0.25em;
          font-weight: 900;
          text-shadow: 0px 0px 3px lighten($rhemared, 50%);
        }
      }

      #selector
      {

      }
    }

    #front
    {

    }

    #trunk
    {
      margin: 1em;
      //  border: solid 1px $colour_grey;
      width: $grlargepc;
      margin-left: $grsmallpc / 2.0;
      background: $parchment;
      padding-bottom: 1em;

      #info
      {
        border-radius: 3px 3px 0px 0px;
        padding: 2em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        background: $colour_grey;
        background: linear-gradient(to top, $colour_grey, $colour_grey, $colour_grey, $colour_light);
        border-top: solid $colour_light 1px;
        margin-bottom: 1em;

        form
        {
          float: right;
          font-family: $f3;

          select
          {
            text-align: center;
          }
        }

        &:before
        {
          //  content: " — ";
          color: $colour_dark;
          //  border-bottom: solid 1px $colour_light;
        }

        #curbook
        {
          line-height: 1em;
          font-weight: 100;
          font-size: 100% + $grsmallpc;
          color: $parchment;

          .bn
          {
            //  text-decoration: underline;
            //  cursor: pointer;
            //  margin-right: 0.5em;

            &:hover
            {
              //  color: $colour_dark;
            }
          }

          .cn
          {
            font-style: italic;
            //  text-decoration: underline;
            cursor: pointer;
            //  margin-left: 0.5em;
          }
        }

        #chapnav
        {
          font-family: $f2;
          //  margin-bottom: 0.5em;
          font-weight: bold;
          font-size: 90%;
          text-align: left;
          color: $colour_dark;

          .chap
          {
            display: inline;
            //  background: $colour_light;
            margin-left: 1px;
            margin-right: 1px;
            padding-left: 1px;
            padding-right: 1px;
            color: $colour_grey;
            text-shadow: 0px 0px 3px $colour_dark;

            a
            {
              color: $colour_light;
            }

            &:hover
            {
              color: $parchment;
            }
          }
        }
      }

      table
      {
        margin: 2em;
        margin-top: 0.125em;
        margin-left: 1em;
        margin-right: 1em;
        font: inherit;
        border-collapse: collapse;
      }

      .verse
      {
        vertical-align: top;
        padding-left: 1em;
        padding-right: 1em;
        //  font-size: 100% - ($grsmallpc / 2);
        font-size: 13pt;

        .wrap
        {
          text-align: justify;
          text-indent: 1em;
        }
      }

      .lug
      {
        width: $grlargepc - 0.25%;
        line-height: 1em;
      }

      .mark
      {
        font-size: $grlargepc;
        width: 0.5%;
        //  font-weight: bold;
        font-style: italic;
      }

      .eng
      {
        width: $grsmallpc - 2%;
        font-size: $grlargepc + ($grsmallpc / 2);
      }
    }

    #footer
    {
      text-align: center;
      font-family: $f2;
      font-size: x-small;
    }
  }
}
