@import url(http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic|Playfair+Display:400,700,900,400italic,700italic,900italic|Averia+Serif+Libre:300,400,700,300italic,400italic,700italic|Quattrocento:400,700&subset=latin,latin-ext);
@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

$primary1:  red;
$shadowcol: rgb(125, 125, 125);
$mainfont1: "Quattrocento", serif;
$mainfont2: "Cabin", sans-serif;
$dispfont1: "Playfair Display", $mainfont1;
$dispfont2: "Averia Serif Libre", $dispfont1;
$copyfontsize: 16pt;
$verse1pc:  85%;
$verse2pc:  60%;

$font-family-base: $mainfont2;
$font-family-sans-serif: $mainfont2;
$font-family-serif: $mainfont1;
$font-size-base: $copyfontsize;

@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";

@mixin round-properly
{
  $round: 2em;
  border-radius: $round 0em $round 0em;
}

@mixin justify-by-faith
{
  text-align: justify;
  text-justify: distribute-all-lines;

  &:after
  {
    content: " ";
    width: 100%;
    display: inline-block;
  }
}

body
{
  font-family: $mainfont2;
  font-variant-settings: "dlig", "diag", "pnum";
  font-weight: 100;
  color: shade($shadowcol, 60%);

  #main
  {
    @include outer-container;

    #topstrip
    {
      @include fill-parent;
      @include justify-by-faith;
      font-size: 85%;
      padding-left: 1em;
      padding-right: 1em;

      .logo
      {
        display: inline-block;
        font-family: $dispfont2;
        font-weight: 900;
        font-size: 15pt;

        a
        {
          color: inherit;
          font: inherit;
          text-decoration: inherit;
        }
      }

      .parts
      {
        @include justify-by-faith;
        display: inline-block;
        font-weight: 300;
        font-size: 80%;
        display: none;

        li
        {
          display: inline-block;
          margin-left: 1em;
        }
      }
    }

    #navstrip
    {
      font-weight: 300;
      box-shadow: 0px 0px 3px $shadowcol;
      font-size: 75%;

      @media (max-width: $screen-sm-min)
      {
        width: 80%;
        margin-left: 10%;
      }

      @media (min-width: $screen-sm-min)
      {
        @include span-columns(4);
      }

      a
      {
        color: inherit;
        font: inherit;
        text-decoration: inherit;
      }

      .book
      {
        @media (min-width: $screen-sm-min)
        {
          @include span-columns(4 of 4);
        }
        
        select
        {
          @include button(pill, tint($shadowcol, 95%));
          width: 100%;
          font: inherit;
        }
      }

      .chaps
      {
        @media (min-width: $screen-sm-min)
        {
          @include span-columns(4 of 4);
        }

        .cnetc
        {
          ul
          {
            li
            {
              display: inline-block;
              width: 2em;
              text-align: right;
              font-variant-settings: "pnum";
            }
          }
        }
      }
    }

    #lection
    {
      padding: 0.5em;
      //  box-shadow: 0px 0px 1px $shadow;
      margin-bottom: 3em;
      @media (min-width: $screen-sm-min)
      {
        @include span-columns(8);
      }

      .head
      {
        font-family: $dispfont1;
        font-style: italic;
        font-size: 150%;
        @media (min-width: $screen-sm-min)
        {
          @include span-columns(8 of 8);
          font-size: 300%;
        }

        .bnames
        {
          @include justify-by-faith;

          div
          {
            display: inline-block;
            text-align: center;

            &.bn1
            {
            }

            &.bn2
            {
              font-size: 60%;
            }

            &.curchap
            {
              font-style: normal;
              font-family: $mainfont2;

              /*
              &:before, &:after
              {
                content: "—";
              }
              */
            }
          }
        }
      }

      .copy
      {
        /*
        text-align: justify;
        @include columns(2);
        @include column-gap(1em);
        @include column-rule(1px $primary1 dashed);
        */
        font-size: $copyfontsize;
        @media (min-width: $screen-sm-min)
        {
          @include span-columns(8 of 8);
        }

        .verse
        {
          font-weight: 500;
          margin-bottom: 0.75em;

          .verse1
          {
            font-family: $mainfont1;
            font-size: $verse1pc;
            text-align: justify;
            text-indent: 0.5em;
            line-height: 1em;
            @media (min-width: $screen-sm-min)
            {
              @include span-columns(5 of 8);
            }

            .vn
            {
              font-size: 50%;
              font-style: italic;
              font-weight: bold;
              display: inline;
              float: left;
              padding-left: 0em;
              padding-right: 0.25em;
            }
          }
          
          .verse2
          {
            line-height: 1.2em;
            font-family: $mainfont2;
            font-size: $verse2pc;
            text-align: justify;
            @media (min-width: $screen-sm-min)
            {
              @include span-columns(3 of 8);
            }
          }
        }
      }
    }
  }
}
