<!DOCTYPE html>
<html>
  <head>
    {%  set engbk = passage.books(versions[0], book) %}
    {%  set lugbk = passage.books(versions[1], book) %}
    <title>{{  engbk[book][1] }} {{  chapter + 1 }} • {{  appname }} • {{ lugbk[book][0] }}</title>  
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="/static/stylesheets/rhema.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div id="main">
      <div id="header">
        <div id="nom"><a href="/">{{  appname.replace("\n", "<br />") }}</a></div>
        <div id="selector"></div>
      </div>
      {%  block onlyfront %}
      <div id="front">
        <!--  Nice Front. -->
      </div>
      {%  endblock  %}
      <div id="trunk">
        {%  block stuff %}
          <div id="info">
            <form>
              <select id="bnav" name="book">
                {%  for bk in lugbk %}
                  <option{% if bk[2] %} selected="selected"{% endif %} value="{{ bk[0]  }}">{{  bk[1]  }} &mdash; {{  engbk[loop.index - 1][1]}}</option>
                {%  endfor  %}
              </select>
              <input type="submit" value="Read" />
            </form>
            <div id="curbook"><span class="bn">{{  engbk[book][1] }}</span> <span class="cn">{{ chapter + 1 }}</span><span class="bn2">{{ lugbk[book][1] }}</span></div>
            {%  set chs = passage.chapters(versions[0], book) %}
            <div id="chapnav" active-book="{{ book  }}" active-chapter="{{  chapter  }}" chapter-count="{{ chs|length  }}">
              {%  for chap in chs  %}
                <div class="chap">
                  {%  if chap == chapter  %}
                    {{  chap + 1  }}
                  {%  else  %}
                    <a href="?book={{ book  }}&chapter={{ chap  }}">{{  chap + 1  }}</a>
                  {%  endif  %}
                </div>
              {%  endfor  %}
            </div>
          </div>
          <table>
            <tbody>
            {%  for verse in verses.list() %}
              <tr>
                <td class="verse lug"><div class="wrap">{{  verse['lug'] }}</div></td><td class="mark" id="verse{{  verse['verse'] + 1 }}">{{  verse['verse'] + 1 }}</td><td class="verse eng"><div class="wrap">{{  verse['eng'] }}</div></td>
              </tr>
            {%  endfor  %}
            </tbody>
          </table>
        {%  endblock  %}
      </div>
      <div id="footer">
        {{  appname }} &copy; 2015
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
    <script src="/static/javascripts/rhema.js"></script>
  </body>
</html>
